body{
    font-family: 'Roboto';
    font-weight: 200;
}
#title{
  padding-top: 5%;
  font-weight: 200;
  color: #b71c1c;
  font-size: 3.75rem;
  padding-bottom: 5%;
}
.center{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#bus-routes{

}
.times{
  display: inline-block;
}
#time{
  margin-left: auto;
  margin-right:auto;
  text-align: center;
  padding-top: 5%;
  font-weight: 200;
  color: #b71c1c;
  font-size: 3.8rem;
  padding-bottom: 5%;
}
